@if (fachrichtungen().length > 0) {
  <section class="fachrichtung-selector">
    <h2>Fachrichtung wählen</h2>

    <div class="fachrichtung-list">
      @for (fachrichtung of fachrichtungen(); track fachrichtung.id) {
        <button
          type="button"
          class="fachrichtung-button"
          [class.active]="selectedFachrichtungId() === fachrichtung.id"
          (click)="selectFachrichtung(fachrichtung)"
        >
          {{ fachrichtung.titel }}
        </button>
      }
    </div>
  </section>
}